<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gourav.tictac">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gou"
        android:label="TicTacToe"
        android:roundIcon="@drawable/gou"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewActivity">
        </activity>
        <activity android:name=".Re">
        </activity>
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".Aactivity">
        </activity>
        <activity android:name=".BActivity">
        </activity>

    </application>

</manifest>